.flexbox{
    display: flex;
    flex-wrap: wrap;
}
.product-image{
    height: 167px;
    width: 250px;
}
.product{
    border: 1px solid black;
    margin: auto;
}
.myform{
    width: 50%;
    margin: auto;
}
.addProductH1{
    display: block;
    margin: 2% 42%;
}
